<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v6" />
	</startup>
	<connectionStrings>
		<add name="connectionString"
			 connectionString="Data Source=chtpz/w@garnet;Initial Catalog=firms;Integrated Security=True"
			providerName="Oracle.ManagerDataAccess.Client"/>
	</connectionStrings>
</configuration>